html,
body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

body {
	font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: 300;
}

:focus, .btn:focus, :active {
	outline: 0 !important;
	outline-color: transparent !important;
	outline-style: none !important;
}

::-webkit-scrollbar {
	display: none;
}

header {
	position: absolute;
	width: 400px;
	height: 250px;
	top: 50%;
	left: 50%;
	margin-top: -125px;
	margin-left: -250px;
	text-align: center;
}

h1 {
	font-size: 60px;
	font-weight: 100;
	margin: 0;
	padding: 0;
}
h2 {
	font-weight: 100;
	margin: 0 0 15px 0;
	padding: 0;
}
h3 {
	font-weight: 200;
	margin: 0;
	padding: 0;
}

h2 small {
	font-weight: 200;
	color: #ccc;
}
.irs.main {
	height:100%;
}
.irs.sidebar {
	background-color: rgb(245, 245, 245);
	height: 100%;
	border-right: 1px solid rgb(190, 190, 190);
	overflow-x: auto;
}
.irs.center-panel {
	padding:0;
	overflow-x: hidden;
	overflow-y: hidden;
}

.irs.full-height {
	height: 100%;
}

.irs.large {
	width:100%;
}
.irs.nopadding {
	padding: 0;
}
.irs.padding {
	padding: 15px !important;
}
.irs.center-padding-wrapper {
	padding: 15px 0 15px 0px;
}

.irs.contents {
	height: calc(100% - 30px);
	overflow-y: auto;
}
.grid-right-panel {
	margin: 0;
}
.grid-right-panel .col-md-1 {
	width: 97%;
}
.grid-right-panel .col-md-2 {
	width: 3%;
	padding: 15px 0 0 0 !important;
	text-align: center;
}

.irs.tabs {
	width: 100%;
	margin:0;
	padding: 0;
	border: 0;
	overflow-x: auto;
	display: table;
	height: 30px;
	border-collapse: collapse;
}
.irs.tab {
	font-weight: 300;
	min-width: 200px;
	display: table-cell;
	border: 1px solid rgb(170, 170, 170);
	background: -webkit-linear-gradient(top, #c6c6c6 0%,#b9b9b9 100%);
	border-top: none;
	margin: 0;
	line-height: 30px;
	height: 30px;
	color: #222;
	text-align: center;
}
button.irs.close-tab {
	line-height: 30px;
	margin-right: 10px;
	margin-top: -2px;
}
.irs.tab:first-child {
	border-left: none;
}
.irs.tab.active {
	background: -webkit-linear-gradient(top, #d4d4d4 0%,#cacaca 100%);
}


/**  File Explorer */
ul.irs.file-exp li.irs.file-exp ul.irs.file-exp {
	white-space: nowrap;
	font-size: 1em; /*stops nested lists scaling*/
	cursor: pointer !important;
	padding-bottom: 2px;
}
ul.irs.file-exp {
	white-space: nowrap;
	font-size: 1em; /*stops nested lists scaling*/
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li.irs.file-exp {
	white-space: nowrap;
	font-size: 1em;
	padding-left: 10px;
}
span.irs.link {
	cursor: pointer;
}
.file-exp i {
	color: rgb(115, 115, 115);
}

span.irs.file-exp.root-dir {
	white-space: nowrap;
	padding-top: 5px;
	padding-bottom: 5px;
}

.spacer {
	height: 15px;
}
.spacer.small {
	height: 5px;
}

.irs.parameter-view {
	padding-left: 10px;
	border-left: 1px solid rgb(238, 238, 238);
}

.irs.history-more {
	color: rgb(70, 70, 70);
}

/** Forms */

label {
	font-weight: 300;
}

input.irs, select.irs {
	border: none;
	background: rgba(0, 0, 0, 0.03);
	line-height: 36px;
	height: 36px;
	margin: 0;
	padding: 0 0 0 5px;
}

button.irs:not(.tag):not(.close-tab)  {
	border: none;
	margin: 0;
	padding: 0;
	height: 36px;
	line-height: 36px;
}
button.irs:not(.close):not(.tag):not(.close-tab):hover {
	background-color: rgb(170, 170, 170);
	color: #000;
}
.irs.form-inline-box {
	display: table;
	width: 100%;
}
.irs.form-inline {
	display: table-cell;
}

.irs.candidate {
	height: 30px;
}
.irs.candidate-cb {
	width: 20px;
}
.irs.overflow-table {
	overflow-x: auto;
	max-width: 100%;
}
td.irs.parameter-idx {
	width: 5%;
	text-align: right;
}
td.irs.parameter-data {
	width: 19%;
}
td.irs.parameter-type {
	width: 15%;
}
td.irs.parameter-conditions {
	width: 23%;
}
td.irs.candidate-idx {
	min-width: 30px;
	text-align: right;
}
td.irs.candidate-actions {
	min-width: 90px;
	text-align: center;
}
td.irs.candidate-label {
	width: 300px;
	min-width: 300px;
	min-height: 30px;
}
td.irs.candidate-data {
	min-width: 100px;
}
.padding-r {
	padding-right: 15px;
}
tr.irs.head td {
	font-weight: bold;
	color: #555;
}
table tr {
	border-bottom: 1px solid #ebebeb;
	width: 100%;
}
table tr:not(.irs.head):last-child {
	border-bottom: none;
}
table tr td {
	border-right: 1px solid #ebebeb;
	padding-left: 5px;
}
table tr td:last-child {
	border-right: none;
}
.overflow-tbody {
	max-height: 200px;
	overflow-y: auto;
}
input.irs.discreet, select.irs.discreet {
	background: none;
	padding: 0;
	margin: 0;
	width: 100%;
}
.irs.border-right {
	border-right: 1px solid #eee;
}
strong {
	color: #555;
}
h2 i.fa {
	font-size: 13px;
	margin-bottom: 6px;
	vertical-align: middle;
	cursor: pointer;
}

.top{
	background: yellow;
	height: 100px;
	overflow-x: auto;
}
.bottom{
	background: red;
	height: 100px;
	overflow-x: auto;
}
.content{
	width: 300%;
	height: 100%;
}
.irs.tag {
	background-color: #f5f5f5;
	margin: 0 5px 5px 0;
	padding-bottom: 7px;
}
.irs.tag:active {
	background-color: #f2f2f2;
	box-shadow:none;
}
.irs.tag:focus {
	border-color: rgb(204, 204, 204);
}
.irs.history {
	background-color: rgb(250, 250, 250);
	height: 100%;
	overflow-y: auto;
}
input.irs.h2 {
	font-weight: 100;
	font-size: 25px;
	height: 35px;
	padding: 0;
	width: 100%;
	background: none;
}
textarea.irs.comment {
	width: 100%;
	background: none;
	border:none;
	padding: 0;
}
.irs.list-group-item {
	cursor: pointer;
}
.irs.list-group-hover {
	background-color: rgb(245, 245, 245);
}


/* d3 */
.axis path {
	fill: none;
	stroke: #222;
	shape-rendering: crispEdges;
}
.axis text {
	font-size: 13px;
	font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: 300;
}

.grid .tick {
	stroke: lightgrey;
	stroke-opacity: 0.7;
	shape-rendering: crispEdges;
}
.grid path {
	stroke-width: 0;
}

.node {
	cursor: pointer;
}

.node circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 1px;
}

.node text {
	font-size: 12px;
	font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: 300;
}

.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 1px;
}
