<div class="irs padding">
  <div class="row">
    <div class="col-sm-12">
      <h2>Welcome to IR Studio 0.1</h2>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
  </div>
  <div class="spacer"></div>
  <div class="row">
    <div class="col-sm-4">
      <h2>Build scenario</h2>
    </div>
    <div class="col-sm-4">
      <h2>Launch exploration</h2>
    </div>
    <div class="col-sm-4">
      <h2>Analyse results</h2>
    </div>
</div>
</div>
