<div class="irs full-height" ng-controller="SetupController" ng-init="Setup.file = file">
  <div class="row irs full-height grid-right-panel">
    <div
    class="col-sm-12 irs border-right full-height"
    ng-class="{'col-md-9': Setup.display.history, 'col-md-1': !Setup.display.history}"
    style="overflow-y: auto;">
      <div class="irs center-padding-wrapper">
      <div class="row">
        <div class="col-sm-6">

          <h2><i class="fa fa-fw" ng-class="{'fa-angle-down': Setup.display.instances, 'fa-angle-right': !Setup.display.instances}" ng-click="Setup.display.instances = !Setup.display.instances"></i> Instances</h2>


          <div class="irs form-inline-box" ng-show="Setup.display.instances">
            <div class="irs form-inline">
              <input class="irs large" type="text" ng-model="file.content.content.instances.training_uri" placeholder="Training instances" />
            </div>
            <div class="irs form-inline">
              <button class="irs large" ng-click="Setup.openInstances(0);">Import</button>
            </div>
          </div>

          <div class="spacer" ng-show="Setup.display.instances"></div>

          <div class="irs form-inline-box" ng-show="Setup.display.instances">
            <div class="irs form-inline">
              <input class="irs large" type="text" ng-model="file.content.content.instances.testing_uri" placeholder="Testing instances" />
            </div>
            <div class="irs form-inline">
              <button class="irs large" ng-click="Setup.openInstances(1);">Import</button>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <h2><i class="fa fa-fw" ng-class="{'fa-angle-down': Setup.display.hookrun, 'fa-angle-right': !Setup.display.hookrun}" ng-click="Setup.display.hookrun = !Setup.display.hookrun"></i> Hook-run method</h2>

          <div class="irs form-inline-box" ng-show="Setup.display.hookrun">
            <div class="irs form-inline">
              <input class="irs large" type="text" ng-model="file.content.content.hookrun_uri" placeholder="Hook-run method path" />
            </div>
            <div class="irs form-inline">
              <button class="irs large" ng-click="Setup.openHookRun();">Import</button>
            </div>
          </div>
        </div>
      </div>
      <div class="spacer"></div>

      <!-- Parameters -->
      <div class="row">
        <div class="col-xs-8">
          <h2><i class="fa fa-fw" ng-class="{'fa-angle-down': Setup.display.parameters, 'fa-angle-right': !Setup.display.parameters}" ng-click="Setup.display.parameters = !Setup.display.parameters"></i> Parameters</h2>
        </div>
        <div class="col-xs-4" align="right" ng-show="Setup.display.parameters">
          <span class="irs link"><i class="fa fa-fw" ng-class="{'fa-lock': Setup.parameterLock, 'fa-unlock': !Setup.parameterLock}" ng-click="Setup.parameterLock = !Setup.parameterLock"></i></span>&nbsp;
          <input type="text" ng-model="searchParameters" class="irs" placeholder="Filter parameters.."/>
        </div>

        <div class="col-sm-12" ng-show="Setup.display.parameters">
          <div class="irs">
            <table cellspacing="10" cellpadding="5" style="width: 100%;">
              <tr class="irs head">
                <td class="irs parameter-idx padding-r">#</td>
                <td class="irs parameter-data">Name</td>
                <td class="irs parameter-data">Switch</td>
                <td class="irs parameter-type">Type</td>
                <td class="irs parameter-data">Values</td>
                <td class="irs parameter-conditions">Conditions</td>
              </tr></table>
              <div class="overflow-tbody">
                <table cellspacing="10" cellpadding="5" style="width: 100%;">
                  <tr ng-repeat="parameter in Setup.file.content.content.parameters | filter: searchParameters">
                    <fieldset ng-disabled="Setup.parameterLock">
                    <td class="irs parameter-idx padding-r">{{ $index+1 }}</td>
                    <td class="irs parameter-data"><input ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }" ng-change="Setup.notifyParameterChange(parameter);" class="irs discreet parameter" ng-disabled="Setup.parameterLock" type="text" ng-model="parameter.name" /></td>
                    <td class="irs parameter-data"><input ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }" ng-change="Setup.notifyParameterChange(parameter);" class="irs discreet parameter" ng-disabled="Setup.parameterLock" type="text" ng-model="parameter.switch" /></td>
                    <td class="irs parameter-type">
                      <select ng-change="Setup.notifyParameterChange(parameter);" ng-model="parameter.type" ng-disabled="Setup.parameterLock" class="irs large discreet">
                        <option value="i">Integer</option>
                        <option value="c">Categorical</option>
                        <option value="r">Real</option>
                        <option value="o">Order</option>
                      </select>
                    <td class="irs parameter-data"><input ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }" ng-change="Setup.notifyParameterChange(parameter);" class="irs discreet parameter" ng-disabled="Setup.parameterLock" type="text" ng-model="parameter.values" /></td>
                    <td class="irs parameter-conditions"><input ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }" ng-change="Setup.notifyParameterChange(parameter);" class="irs discreet parameter" ng-disabled="Setup.parameterLock" type="text" ng-model="parameter.conditions" /></td>
                  </tr>
                  </fieldset>
                </table>
                  <div ng-if="(Setup.file.content.content.parameters | filter: searchParameters).length == 0">No result found.</div>

                </div>

              </div>

              <div class="row irs padding">
                <div class="col-sm-4 irs nopadding">
                  <button class="irs large">New parameter</button>
                </div>
                <div class="col-sm-4 irs nopadding">
                  <button class="irs large" ng-click="importParameters();">Import from file</button>
                </div>
                <div class="col-sm-4 irs nopadding">
                  <button class="irs large">Save file</button>
                </div>
              </div>
            </div>
          </div>
          <div class="spacer"></div>

          <!-- Candidates -->
          <div class="row">
            <div class="col-xs-8">
              <h2><i class="fa fa-fw" ng-class="{'fa-angle-down': Setup.display.candidates, 'fa-angle-right': !Setup.display.candidates}" ng-click="Setup.display.candidates = !Setup.display.candidates"></i> Candidates</h2>
            </div>
            <div class="col-xs-4" align="right" ng-show="Setup.display.candidates">
              <input type="text" ng-model="searchCandidates" class="irs" placeholder="Filter candidates.."/>
            </div>
            <div class="col-xs-12" ng-show="Setup.display.candidates">
              <div class="irs overflow-table">
                <table cellspacing="10" cellpadding="5">
                  <tr class="irs head">
                    <td class="irs candidate-idx padding-r">#</td>
                    <td class="irs candidate-actions">Actions</td>
                    <td class="irs candidate-label"><strong>Label</strong></td>
                    <td ng-repeat="parameter in Setup.file.content.content.candidates.parameters track by $index" class="irs candidate-data">
                      {{ parameter }}
                    </td>
                  </tr>
                </table>
                <table cellspacing="10" cellpadding="5">
                  <tr ng-repeat="candidate in Setup.file.content.content.candidates.candidates | filter: searchCandidates">
                    <td class="irs candidate-idx padding-r">{{ $index+1 }}</td>
                    <td class="irs candidate-actions">
                      <a href="" ng-click="candidate.lock = !candidate.lock"><i class="fa fa-fw" ng-class="{'fa-lock': candidate.lock, 'fa-unlock': !candidate.lock}"></i></a>&nbsp;&nbsp;
                      <input type="checkbox" aria-label="Use candidate" ng-model="candidate.selected"></input>&nbsp;&nbsp;
                      <a href="" ng-click="Setup.deleteCandidate($index);"><i class="fa fa-trash"></i></a>
                    </td>
                    <td  class="irs candidate-label">
                      <input
                      ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }"
                      ng-change="Setup.notifyCandidateChange(candidate);"
                      ng-disabled="candidate.lock"
                      class="irs discreet candidate-label"
                      type="text"
                      ng-model="candidate.label" />
                    </td>
                    <td  class="irs candidate-data"
                    ng-repeat="parameter in Setup.file.content.content.candidates.parameters track by $index">
                    <input ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }" ng-change="Setup.notifyCandidateChange(candidate);" class="irs discreet" ng-disabled="candidate.lock" type="text" ng-model="candidate.values[$index]" />
                  </td>
                  </tr>
                </table>


                <div ng-if="(Setup.file.content.content.candidates.candidates | filter: searchCandidates).length == 0">No result found.</div>
              </div>
            </div>
          </div>
          <div class="row irs padding" ng-show="Setup.display.candidates">
            <div class="col-sm-3 irs nopadding">
              <button class="irs large" ng-click="Setup.allSelected = !Setup.allSelected; Setup.selectAll();">Select all</button>
            </div>
            <div class="col-sm-3 irs nopadding">
              <button class="irs large" ng-click="Setup.newCandidate();">New candidate</button>
            </div>
            <div class="col-sm-3 irs nopadding">
              <button class="irs large" ng-click="Setup.openCandidates();">Import from file</button>
            </div>
            <div class="col-sm-3 irs nopadding">
              <button class="irs large">Save file</button>
            </div>
          </div>
        </div>
      </div>
        <div class="irs full-height padding history" ng-class="{'col-md-3': Setup.display.history, 'col-md-2': !Setup.display.history}">
          <h2><i class="fa fa-fw" ng-class="{'fa-angle-down': Setup.display.history, 'fa-angle-left': !Setup.display.history}" ng-click="Setup.display.history = !Setup.display.history"></i> <span ng-show="Setup.display.history">History</span></h2>

          <div ng-show="Setup.display.history">
            <div ng-if="Setup.file.content.content.history.length == 0">
              Logs for this file are empty.
            </div>
            <div ng-repeat="h in Setup.file.content.content.history track by $index">
              <strong>{{ h.date | date:'medium' }}</strong><br />
              {{ h.text }}<br /><br />
            </div>
        </div>
        </div>
      </div>


      <!-- <pre>{{ file | json}}</pre> -->
    </div>
