<div class="irs padding" ng-controller="SetupController" ng-init="Setup.file = file">
  <div class="row">
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-6">

          <h2>Instances</h2>


          <div class="irs form-inline-box">
            <div class="irs form-inline">
              <input class="irs large" type="text" ng-model="file.content.content.instances.training_uri" placeholder="Training instances" />
            </div>
            <div class="irs form-inline">
              <button class="irs large">Import</button>
            </div>
          </div>

          <div class="spacer"></div>

          <div class="irs form-inline-box">
            <div class="irs form-inline">
              <input class="irs large" type="text" ng-model="file.content.content.instances.testing_uri" placeholder="Testing instances" />
            </div>
            <div class="irs form-inline">
              <button class="irs large">Import</button>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <h2>Hook-run method</h2>

          <div class="irs form-inline-box">
            <div class="irs form-inline">
              <input class="irs large" type="text" ng-model="file.content.content.hookrun_uri" placeholder="Hook-run method path" />
            </div>
            <div class="irs form-inline">
              <button class="irs large">Import</button>
            </div>
          </div>
        </div>
      </div>
      <div class="spacer"></div>
      <div class="spacer"></div>
      <div class="row">
        <div class="col-xs-8">
          <h2>Parameters</h2>
        </div>
        <div class="col-xs-4" align="right">
          <input type="text" ng-model="searchParameters" class="irs" placeholder="Filter parameters.."/>
        </div>

        <div class="col-sm-12">
          <div class="irs">
            <table cellspacing="10" cellpadding="5" style="width: 100%;">
              <tr class="irs head">
                <td class="irs parameter-idx padding-r">#</td>
                <td class="irs parameter-data">Name</td>
                <td class="irs parameter-data">Switch</td>
                <td class="irs parameter-data">Type</td>
                <td class="irs parameter-data">Values</td>
                <td class="irs parameter-data">Conditions</td>
              </tr></table>
              <div class="overflow-tbody">
                <table cellspacing="10" cellpadding="5" style="width: 100%;">
                  <tr ng-repeat="parameter in Setup.file.content.content.parameters | filter: searchParameters">
                    <td class="irs parameter-idx padding-r">{{ $index+1 }}</td>
                    <td class="irs parameter-data"><input class="irs discreet parameter" type="text" ng-model="parameter.name" /></td>
                    <td class="irs parameter-data"><input class="irs discreet parameter" type="text" ng-model="parameter.switch" /></td>
                    <td class="irs parameter-data"><input class="irs discreet parameter" type="text" ng-model="parameter.type" /></td>
                    <td class="irs parameter-data"><input class="irs discreet parameter" type="text" ng-model="parameter.values" /></td>
                    <td class="irs parameter-data"><input class="irs discreet parameter" type="text" ng-model="parameter.conditions" /></td>
                  </tr></table>
                  <div ng-if="(Setup.file.content.content.parameters | filter: searchParameters).length == 0">No result found.</div>

                </div>

              </div>

              <div class="row irs padding">
                <div class="col-sm-4 irs nopadding">
                  <button class="irs large">New parameter</button>
                </div>
                <div class="col-sm-4 irs nopadding">
                  <button class="irs large" ng-click="importParameters();">Import from file</button>
                </div>
                <div class="col-sm-4 irs nopadding">
                  <button class="irs large">Save file</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 irs history">
          <h2>History</h2>
          Logs for this file are empty.
        </div>
      </div>

      <div class="spacer"></div>
      <div class="row">
        <div class="col-xs-8">
          <h2>Candidates</h2>
        </div>
        <div class="col-xs-4" align="right">
          <input type="text" ng-model="searchCandidates" class="irs" placeholder="Filter candidates.."/>
        </div>
        <div class="col-xs-12">

          <div class="irs overflow-table">

            <table cellspacing="10" cellpadding="5">
              <tr class="irs head">
                <td class="irs candidate-idx padding-r">#</td>
                <td class="irs candidate-actions">Actions</td>
                <td class="irs candidate-label"><strong>Label</strong></td>
                <td ng-repeat="parameter in Setup.file.content.content.candidates.parameters" class="irs candidate-data">
                  {{ parameter }}
                </td>
                <td ng-repeat="parameter in Setup.file.content.content.candidates.parameters" class="irs candidate-data">
                  {{ parameter }}
                </td>
              </tr>
            </table>
              <table cellspacing="10" cellpadding="5">
                <tr ng-repeat="candidate in Setup.file.content.content.candidates.candidates | filter: searchCandidates">
                  <td class="irs candidate-idx padding-r">{{ $index+1 }}</td>
                  <td class="irs candidate-actions">
                    <input type="checkbox" aria-label="Use candidate" ng-model="candidate.selected"></input>
                    <a href="" ng-click="Setup.deleteCandidate($index);"><i class="fa fa-trash"></i></a>
                  </td>
                  <td  class="irs candidate-label"><input class="irs discreet candidate-label" type="text" ng-model="candidate.label" /></td>
                  <td  class="irs candidate-data" ng-repeat="value in candidate.values">{{ value }}</td>
                  <td  class="irs candidate-data" ng-repeat="value in candidate.values">{{ value }}</td>
                </tr>
              </table>
                <div ng-if="(Setup.file.content.content.candidates.candidates | filter: searchCandidates).length == 0">No result found.</div>
            </div>
          </div>
        </div>
        <div class="row irs padding">
          <div class="col-sm-3 irs nopadding">
            <button class="irs large" ng-click="Setup.allSelected = !Setup.allSelected; Setup.selectAll();">Select all</button>
          </div>
          <div class="col-sm-3 irs nopadding">
            <button class="irs large">New candidate</button>
          </div>
          <div class="col-sm-3 irs nopadding">
            <button class="irs large">Import from file</button>
          </div>
          <div class="col-sm-3 irs nopadding">
            <button class="irs large">Save file</button>
          </div>
        </div>

        <!-- <pre>{{ file | json}}</pre> -->
      </div>
